/* 
    General Styles
*/

.background{
    background-image: url( "../img/img5.jpg");
    background-position: center;
}
.background-people{
    background-image: url( "../img/img2.jpg");
    background-position: center;
}
.background-vehicles{
    background-image: url( "../img/img1.jpg");
    background-position: center;
    background-size: cover;
}
.cardBg {
    background-color: rgba($color: #f3e6b1, $alpha: 0.5);
}